*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    background-image: url(image/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
img{
    width: 25%;
    height: auto;
    position: relative;
    left: 200px;
    top: 150px;
}

form{
    border: 1px solid black;
    box-shadow: 0 0 15px 0 rgb(41, 41, 41);
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
    height: auto;
    width: 35%;
    top: 10%;
    left: 55%;
}
.login{
    padding: 80px 90px;
    font-size: 20px;
}
.login input{
    border: 1px solid rgb(163, 163, 163);
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 40px;
    padding: 0 10px;
}

h1{
    text-align: center;
    position: relative;
    top: 40px;
}

.btn a{
    position: relative;
    top: -45px;
    left: 23%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(25, 151, 25);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 20%;
}
.btn a:hover{
    background-color: rgb(9, 78, 2);
}